<p>
  Are you sure you want to delete Customer : {{data.customerId}}? 
</p>
<div>
    <button mat-raised-button color="primary" (click)="deleteCustomer(data.customerId)">Yes</button>
    <button mat-raised-button color="default" (click)="closeDialog()">Cancel</button>
</div>
